<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Portfolio</title>
  </head>
  <body>
    {{> header}}
    <a href="https://github.com/sukhadj" target="_blank">Github</a>
    {{> footer}}
  </body>
</html>
